@tailwind base;
@tailwind components;
@tailwind utilities;

@import "simplebar/dist/simplebar.min.css";

.simplebar-track.simplebar-vertical {
  width: 6px;
}
.simplebar-scrollbar:before {
  background-color: #999;
  border-radius: 3px;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  opacity: 1;
}

::selection {
  background: #b8860b50;
  color: #ffffff;
}

::-moz-selection {
  background: #b8860b50;
  color: #ffffff;
}
